body {
  background: url(../../assets/ocean.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  font-family: Helvetica;
  color: white;
  text-shadow: 0.1em 0.1em #333;
}

h1 {
  font-size: 2em;
}

#copy h3 {
  text-align: center;
}

#top {
  margin-top: 5%;
  margin-left: 5%;
}

a {
  color: white;
}

a:visited {
  color: white;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
}

#bludkin {
  color: maroon;
}

#container {
  width: 100%;
  display: inline-block;
}

#sign {
  width: 40%;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  min-height: 5%;
  max-height: 10%;
}

#instructions {
  width: 40%;
  float: left;
  margin-top: 5%;
  margin-right: 10%;
  min-height: 5%;
  max-height: 10%;
  display: block;
}

#header {
  margin-left: 40%;
  margin-top: 35%;
  min-width: 10%;
  clear: both;
}

#header p {
  font-size: 4em;
}

#smallcopy {
  background: url(../../assets/water.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

  width: 40%;
  background-color: #97FFFF;
  color: white;
  text-shadow: 0.1em 0.1em #333;
  margin: 0 auto;
  border: 6px solid navy;
  border-radius: 25px;
  padding-left: 25px;
  clear: both;
}

#copy {
  background: url(../../assets/water.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

  display: none;
  background-color: #97FFFF;
  color: white;
  text-shadow: 0.1em 0.1em #333;
  width: 80%;
  margin: 0 auto;
  border: 6px solid navy;
  border-radius: 25px;
  padding: 25px;
  clear: both;
}

#stats {
  margin-top: 5%;
}

#stats, #chart {
  width: 40%;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 5%;
  max-height: 10%;
}