body {
  background-color: aqua;
  font-family: Helvetica;
}

a {
  color: black;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
}

li {
  padding: 5px;
}

#header {
  margin-left: 5%; 
  margin-top: 5%;
}

#bludkin {
  color: maroon;
}

#container {
  width: 100%;
  display: inline-block;
}

#sign {
  width: 40%;
  float: left;
  margin-left: 10%;
  min-height: 5%;
  max-height: 10%;
}

#instructions {
  width: 40%;
  float: right;
  margin-right: 10%;
  min-height: 5%;
  max-height: 10%;
  display: block;
}

#copy {
  background: url(../../assets/water.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";

  color: black;
  width: 80%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 25px;
  padding: 25px;
  clear: both;
}